[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
