[submodule "jsoncpp"]
	path = jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glew"]
	path = glew
	url = https://github.com/smt005/GLEW.git
[submodule "FreeImage"]
	path = FreeImage
	url = https://github.com/smt005/FreeImage.git
[submodule "PhysX"]
	path = PhysX
url=https://github.com/smt005/PhysX.git
[submodule "freetype2"]
	path = freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
